.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 20px 30px;
  background-image: url("../../../assets/main-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.shadow {
  position: relative;
  z-index: 2;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 100px auto;
  max-width: 1200px;
  opacity: 0;
  animation: fadeIn 0.7s forwards;
}

.title-section, .login-section, .chat-section {
  padding: 20px;
}

.title {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: var(--text);
  animation-delay: 1s;
  will-change: opacity, transform;
}

.description {
  font-size: 22px;
  margin-bottom: 30px;
  color: var(--text);
  font-weight: bold;
  opacity: 0;
  animation: fadeIn 2.5s forwards;
  animation-delay: 1s;
  will-change: opacity, transform;
}

.chat-button {
  padding: 10px 20px;
  background-color: var(--button);
  color: var(--background);
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 2.5s forwards;
  animation-delay: 1s;
  will-change: opacity, transform;
}

.chat-button:hover {
  background-color: var(--button-hover);
}

.login-section a {
  color: var(--text-alt);
  font-weight: bold;
  text-decoration: none;
}

.login-section a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
