.main-container {
  text-align: center;
  margin-top: 50px;
  height: 100vh;
}

.title-section {
  padding: 20px;
  margin-bottom: 20px;
}
.title {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.description {
  font-size: 22px;
}

.chat-button {
  padding: 10px 20px;
  background-color: var(--button);
  color: var(--text);
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.chat-button:hover {
  background-color: var(--button-hover);
}

.login-section a {
  color: var(--button);
  font-weight: bold;
  text-decoration: none;
}

.login-section a:hover {
  text-decoration: underline;
}
