<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-logo">Cancer Detection App</a>
    <ul class="navbar-menu">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/chat" routerLinkActive="active">Chat</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>

    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2024 Cancer Detection App. All rights reserved.</p>
    <nav class="footer-nav">
      <a routerLink="/">Home</a>
      <a routerLink="/chat">Chat</a>
      <a routerLink="/login">Login</a>
    </nav>
  </div>
</footer>

