:root {
  --background: #232946;
  --secondary: #31363F;
  --navbar-text: #fffffe;
  --focus: #d4d8f0;
  --text: #fffffe;
  --text-alt: #b8c1ec;
  --button: #abb7d2;
  --button-hover: #9aa3b7;
  --other-focus: #ffacb6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--background);
}
