<div class="chat-wrapper">
    <div class="chat-list">
        <h2>Your Chats</h2>
        <button (click)="createNewChat()">New Chat</button>
        <ul>
            <li *ngFor="let chat of chatList" (click)="selectChat(chat)">
                {{ chat.title }}
            </li>
        </ul>
    </div>

    <div class="chat-container" *ngIf="isLoggedIn; else loginPrompt">
        <div class="header">
            <h1>Chat</h1>
        </div>

        <div class="message-display" #messageDisplay>
            <div *ngFor="let message of messages">
                <p [ngClass]="{'user-message': message.isUser, 'ai-message': !message.isUser}">
                    {{ message.text }}
                </p>
            </div>
        </div>

        <div class="upload-section">
            <label for="xray-upload" class="upload-label">
                <input type="file" id="xray-upload" (change)="onFileSelected($event)" accept="image/png" />
                <span>Browse...</span>
            </label>
            <span *ngIf="uploadedFileName" class="uploaded-file-name">{{ uploadedFileName }}</span> <!-- Display the uploaded file name -->
            <button (click)="uploadXray()">Upload MRI</button>
        </div>



        <div class="input-section" *ngIf="showTextarea">
            <textarea [(ngModel)]="userInput" placeholder="Type your message here..." rows="3"></textarea>
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>

    <ng-template #loginPrompt>
        <div class="redirect-message">
            <p>You need to <a routerLink="/login">log in</a> to access this chat.</p>
        </div>
    </ng-template>
</div>
